In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Caluclate the school types
all_school_name = school_data_complete.set_index("school_name").groupby(["school_name"])
#School Types 
school_types = school_data.set_index("school_name")["type"]
#Total Students per School
total_stu = all_school_name['Student ID'].count()
#Total School Budget 
school_budg = school_data.set_index("school_name")["budget"]                                             
#Per Student Budget
student_budget = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
student_budget
#Avg Math Score
avg_math_score = all_school_name["math_score"].mean
#Avg Reading Score 
avg_read_score = all_school_name["reading_score"].mean
# % Pass Math
math_pass = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).count()["student_name"] / total_stu * 100
print(math_pass)
# % Pass Reading 
read_pass = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).count()["student_name"] / total_stu * 100
print(read_pass)
# Overall Passing 
ov_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby(['school_name']).count()["student_name"] / total_stu * 100
print(ov_pass)

In [20]:
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_stu,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budg,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_read_score,
    '% Passing Math': math_pass,
    '% Passing Reading': read_pass,
    "% Overall Passing": ov_pass
})
school_summary_df.head(15)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,628.0,3124928,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,1081356,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,1884411,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,1763916,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,917500,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,93.392371,97.138965,90.599455
Hernandez High School,District,4635,652.0,3022020,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,66.752967,80.862999,53.527508
Holden High School,Charter,427,581.0,248087,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,92.505855,96.252927,89.227166
Huang High School,District,2917,655.0,1910635,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,65.683922,81.316421,53.513884
Johnson High School,District,4761,650.0,3094650,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,66.057551,81.222432,53.539172
Pena High School,Charter,962,609.0,585858,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,637.0,2547363,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,600.0,1056600,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,638.0,1043130,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,578.0,1319574,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,93.867718,96.539641,90.582567
Wright High School,Charter,1800,583.0,1049400,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,93.333333,96.611111,90.333333